<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jolly.upms.manager.model.UserMapper">
    <resultMap id="BaseResultMap" type="com.jolly.upms.manager.model.User">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="add_time" property="addTime" jdbcType="INTEGER"/>
        <result column="last_login" property="lastLogin" jdbcType="INTEGER"/>
        <result column="last_ip" property="lastIp" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="filiale_id" property="filialeId" jdbcType="INTEGER"/>
        <result column="is_supp_user" property="isSuppUser" jdbcType="TINYINT"/>
        <result column="supp_code" property="suppCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, user_name, email, password, add_time, last_login, last_ip, is_deleted, filiale_id,
        is_supp_user, supp_code
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from who_rbac_user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="queryByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from who_rbac_user
        where is_deleted = 0 and user_name = #{value,jdbcType=VARCHAR}
    </select>

    <select id="getMaxUserId" resultType="int">
        select
        max(user_id)
        from who_rbac_user
    </select>

    <select id="querySuppliers" resultType="map">
        select
        code, supp_name suppName
        from who_esoloo_supplier
    </select>

    <insert id="insert" parameterType="com.jolly.upms.manager.model.User">
        insert into who_rbac_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_id,
            <if test="userName != null">
                user_name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="lastLogin != null">
                last_login,
            </if>
            <if test="lastIp != null">
                last_ip,
            </if>
            <if test="navList != null">
                nav_list,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="filialeId != null">
                filiale_id,
            </if>
            <if test="isSuppUser != null">
                is_supp_user,
            </if>
            <if test="suppCode != null">
                supp_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userId},
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=INTEGER},
            </if>
            <if test="lastLogin != null">
                #{lastLogin,jdbcType=INTEGER},
            </if>
            <if test="lastIp != null">
                #{lastIp,jdbcType=VARCHAR},
            </if>
            <if test="navList != null">
                #{navList,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="filialeId != null">
                #{filialeId,jdbcType=INTEGER},
            </if>
            <if test="isSuppUser != null">
                #{isSuppUser,jdbcType=TINYINT},
            </if>
            <if test="suppCode != null">
                #{suppCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.jolly.upms.manager.model.User">
        update who_rbac_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=CHAR},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=INTEGER},
            </if>
            <if test="lastLogin != null">
                last_login = #{lastLogin,jdbcType=INTEGER},
            </if>
            <if test="lastIp != null">
                last_ip = #{lastIp,jdbcType=VARCHAR},
            </if>
            <if test="navList != null">
                nav_list = #{navList,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="filialeId != null">
                filiale_id = #{filialeId,jdbcType=INTEGER},
            </if>
            <if test="isSuppUser != null">
                is_supp_user = #{isSuppUser,jdbcType=TINYINT},
            </if>
            <if test="suppCode != null">
                supp_code = #{suppCode,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

</mapper>